<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>radio-select</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="radio-box">
		<label>
			<input type="radio" value="1" name="tipoPagamento" class="radio-select" checked>
			Parcelado
		</label>
		<div class="radio-select-field">
			Nro parcelas: <input type="text" value="" name="parcelas">
			<div>
				<input type="data" name="data_parcela[]">
				<input type="text" name="valor_parcela[]">
			</div>
			
		</div>
	</div>

	<div class="radio-box">
		<label>
			<input type="radio" value="2" name="tipoPagamento" class="radio-select">
			Cartão de crédito
		</label>
		<div class="radio-select-field">
			Nro parcelas: <input type="text" value="" name="parcelas">
		</div>
	</div>

	<div style="margin: 30px 0">
		<h3>Calculadora de parcelas</h3>

		<div>
			<input type="text" id="valor-total" value="200"> -> Valor da compra
		</div>

		<div style="margin: 10px 0">
			<label>
				Número de parcelas: <input type="text" name="parcelas" id="total-parcelas">
			</label>
		</div>
		<div id="lista-parcelas"></div>
	</div>

	<script type="js-template" id="tpl-parcelas">
		<div>
			<input type="text" name="data[<% index %>]" value="<% if ( data ) { %><% data %><% } %>">
			<input type="text" name="valor[<% index %>]" value="<% if ( price ) { %><% price %><% } %>">
		</div>
	</script>

	<script src="engine.js"></script>
	<script src="radio-select.js"></script>
</body>
</html>
